/manosalaobra5/nbproject/private/
/manosalaobra5/build/
/ej6teoria/nbproject/private/
/ej6teoria/build/
/ejercicio/nbproject/private/
/ejercicio/build/
/ejercicio17/nbproject/private/
/ejercicio17/build/
/ejercicio18/nbproject/private/
/ejercicio18/build/
/ejercicio19/nbproject/private/
/ejercicio21/nbproject/private/
/ejercicio21/build/
/ej19/nbproject/private/
/ej19/build/
/JavaApplication20/nbproject/private/
/ejercicio20/nbproject/private/
/ejercicio20/build/